/* Titre principal */
.page-title {
    -fx-font-size: 24px;
    -fx-text-fill: #00008b;
    -fx-font-weight: bold;
    -fx-font-family: "Segoe UI", sans-serif;
}

.primary-button {
    -fx-background-color: #00008b;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 6 14;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}

.primary-button:hover {
    -fx-background-color: rgba(0, 0, 139, 0.81);
}

.primary-button:pressed {
    -fx-background-color: rgba(0, 0, 139, 0.81);
}

/* TableView général */
.table-view {
    -fx-background-color: #ffffff;
    -fx-border-color: #dddddd;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-padding: 10;
    -fx-table-cell-border-color: transparent;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.08), 6, 0.1, 0, 1);
}

/* En-têtes de colonnes */
.table-view .column-header {
    -fx-background-color: #d0e0ff;
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-weight: bold;
    -fx-border-color: transparent;
}

/* Cellules */
.table-cell {
    -fx-font-size: 13px;
    -fx-text-fill: #4786ff;
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-alignment: CENTER;
    -fx-padding: 6;
}

/* Hover de ligne */
.table-row-cell:hover {
    -fx-background-color: #f1f8ff;
}

/* Ligne sélectionnée */
.table-row-cell:filled:selected {
    -fx-background-color: #cce8ff;
}